<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ST</title>
    <link rel="icon" type="image/x-icon" href="/images/xx.icon" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
</head>

<body>
    <div id="app">
        <el-row style="width:43%;">
            <el-col :span="2.5">
                <div class="grid-content bg-purple">
                    起始时间：
                    <el-date-picker v-model="value1" type="date" value-format="yyyy-MM-dd" placeholder="选择日期">
                    </el-date-picker>
                </div>
            </el-col>
            <el-col :span="2.5">
                <div class="grid-content bg-purple-light">
                    Top N:
                    <el-select v-model="topn" clearable placeholder="Top N">
                        <el-option v-for="item in topns" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                </div>
            </el-col>
            <el-col :span="2.5">
                <div class="grid-content bg-purple-light">
                    涨跌幅:
                    <el-select v-model="sort" placeholder="涨跌幅">
                        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                </div>
            </el-col>
            <el-col :span="1">
                <div class="grid-content bg-purple">
                    <el-button type="primary" plain @click="query" v-loading.fullscreen.lock="fullscreenLoading">Query
                    </el-button>
                </div>
            </el-col>
        </el-row>


        <table style="width:44%;" border="1" cellpadding="0" cellspacing="0" bordercolor="#0000"
            style="border-collapse:collapse;">
            <tr>
                <td>stockName</td>
                <td>stockCode</td>
                <td>price</td>
                <td>current</td>
                <td>percent</td>
            </tr>
            <tr v-for="stock in stocks">
                <td>{{ stock.stockName  }}</td>
                <td v-on:click="stockTureover(stock.stockCode, value1)">{{ stock.stockCode  }}</td>
                <td>{{ stock.price  }}</td>
                <td>{{ stock.current  }}</td>
                <td>{{ stock.percent  }}</td>
            </tr>
        </table>
    </div>
    <div style="width:45%;">
        <canvas id="myChart"></canvas>
    </div>

    <script type="text/javascript">
        // var urlPre = window.location.protocol + '//' + window.location.host;
        var urlPre = 'http://192.168.1.101:9999';
        var vm = new Vue({
            el: '#app',
            data: {
                stocks: [],
                value1: '',
                topn: '',
                topns: [{
                    value: '10',
                    label: '10'
                }, {
                    value: '20',
                    label: '20'
                }, {
                    value: '50',
                    label: '50'
                }, {
                    value: '100',
                    label: '100'
                }, {
                    value: '200',
                    label: '200'
                }, {
                    value: '500',
                    label: '500'
                }, {
                    value: '1000',
                    label: '1000'
                }],
                sort: 'asc',
                options: [{
                    value: 'asc',
                    label: '涨幅'
                }, {
                    value: 'desc',
                    label: '跌幅'
                }],
                fullscreenLoading: false
            },
            methods: {
                query: function () {
                    this.fullscreenLoading = true;
                    var dateValue = this.value1;
                    var top = this.topn;
                    var sort = this.sort;
                    axios.get(urlPre + '/stock/extent?startDate=' + dateValue + '&top=' + top + '&sort=' + sort).then(res => {
                        this.stocks = res.data;
                        this.fullscreenLoading = false;
                    }).catch(error => {
                        this.fullscreenLoading = false;
                        this.$message.error(error.message);
                        console.log(error);
                    });
                },
            },
            created: function () {
                var timestamp = Date.parse(new Date()) - (10 * 24 * 60 * 60 * 1000);
                var date = new Date(timestamp);
                Y = date.getFullYear() + '-';
                M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
                D = date.getDate();
                this.value1 = Y + M + D;
                this.topn = 20;
                this.sort = desc;
            }
        });

        var ctx = document.getElementById('myChart').getContext('2d');

        function stockTureover(stockCode, startDate) {
            axios.get(urlPre + '/stock/turnover?stockCode=' + stockCode + '&startDateStr=' + startDate).then(res => {
                getStockTureover(res);
            }).catch(error => {
                console.log(error);
            });
        }

        function getStockTureover(res) {
            var labels = [];
            var data1 = [];
            var data2 = [];
            for (var i = 0; i < res.data.length; i++) {
                console.log(res.data[i]);
                labels.push(formatDate(res.data[i].day))
                data1.push(res.data[i].turnoverDay)
                data2.push(res.data[i].priceDay)
            }

            var data = {
                labels: labels,
                datasets: [
                    {
                        label: "Turnover",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(120,220,220,1)",
                        data: data1
                    }
                    // ,
                    // {
                    //     label: "Price",
                    //     fillColor: "rgba(151,187,205,0.2)",
                    //     strokeColor: "rgba(151,187,205,1)",
                    //     pointColor: "rgba(151,187,205,1)",
                    //     pointStrokeColor: "#fff",
                    //     pointHighlightFill: "#fff",
                    //     pointHighlightStroke: "rgba(151,187,205,1)",
                    //     data: data2
                    // }
                ]
            };
            var myChart = new Chart(ctx, {
                type: 'line',
                data: data
            });
        }
        function formatDate(timestamp) {
            var now = new Date(timestamp);
            var year = now.getFullYear();
            var month = now.getMonth() + 1;
            var date = now.getDate();
            var hour = now.getHours();
            var minute = now.getMinutes();
            var second = now.getSeconds();
            return year + '' + month + '' + date;
        } 
    </script>
    <style>
        .el-row {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .el-col {
            border-radius: 4px;
        }

        .bg-purple {
            background: #d3dce6;
        }

        .bg-purple-light {
            background: #e5e9f2;
        }

        .grid-content {
            border-radius: 4px;
            min-height: 36px;
        }

        .small {
            width: 500px;
            height: 500px;
        }
    </style>
</body>

</html>