<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vawo.foundation.demo.dao.InfoStockMapper">
    <resultMap id="BaseResultMap" type="com.vawo.foundation.demo.entity.InfoStock">
        <result column="stock_code" property="stockCode" jdbcType="VARCHAR"/>
        <result column="stock_name" property="stockName" jdbcType="VARCHAR"/>
        <result column="collect_time" property="collectTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="insert" parameterType="java.util.List">
        insert into info_stock (stock_code, stock_name, collect_time)
        values (#{stockCode}, #{stockName}, #{collectTime})
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM info_stock
	</select>

    <select id="selectOne" resultMap="BaseResultMap">
        SELECT * FROM info_stock where stock_code = #{stockCode}
    </select>
</mapper>