<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vawo.foundation.demo.dao.StockRecordMapper">
    <resultMap id="BaseResultMap" type="com.vawo.foundation.demo.entity.StockRecord">
        <result column="stock_code" property="stockCode" jdbcType="VARCHAR"/>
        <result column="open" property="open" jdbcType="FLOAT"/>
        <result column="close" property="close" jdbcType="FLOAT"/>
        <result column="closing_time" property="closingTime" jdbcType="TIMESTAMP"/>
        <result column="high" property="high" jdbcType="FLOAT"/>
        <result column="low" property="low" jdbcType="FLOAT"/>
        <result column="volume" property="volume" jdbcType="BIGINT"/>
    </resultMap>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into info_stock_record (stock_code,`open`,`close`,closing_time,high,low,volume)
        values
        <foreach collection="srs" item="sc" index="index" separator=",">
            (
            #{sc.stockCode},
            #{sc.open},
            #{sc.close},
            #{sc.closingTime},
            #{sc.high},
            #{sc.low},
            #{sc.volume}
            )
        </foreach>
    </insert>

    <select id="selectByDate" resultMap="BaseResultMap">
        SELECT * FROM info_stock_record
        WHERE 1=1
        <if test="stockCode != null and stockCode != ''">
            and stock_code = #{stockCode}
        </if>
        <if test="startTime != null">
            <![CDATA[and closing_time >= #{startTime}]]>
        </if>
    </select>

    <select id="selectLast" resultType="java.util.Date">
        SELECT closing_time FROM info_stock_record
        WHERE 1=1 and stock_code = #{stockCode}
        ORDER BY closing_time DESC LIMIT 1
    </select>
</mapper>