<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vawo.foundation.demo.dao.TurnoverDayMapper">
    <resultMap id="BaseResultMap" type="com.vawo.foundation.demo.entity.TurnoverDay">
        <id column="turnover_day_id" property="turnoverDayId" jdbcType="BIGINT"/>
        <result column="stock_code" property="stockCode" jdbcType="VARCHAR"/>
        <result column="turnover_day" property="turnoverDay" jdbcType="BIGINT"/>
        <result column="price_day" property="priceDay" jdbcType="FLOAT"/>
        <result column="extent_day" property="extentDay" jdbcType="VARCHAR"/>
        <result column="day" property="day" jdbcType="DATE"/>
        <result column="calculate_date" property="calculateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="insert" parameterType="com.vawo.foundation.demo.entity.TurnoverDay"
            useGeneratedKeys="true" keyProperty="turnoverDayId">
        insert into info_turnover_day (stock_code, turnover_day, price_day, extent_day, day, calculate_date)
        values
        (
            #{stockCode, jdbcType=VARCHAR},
            #{turnoverDay, jdbcType=BIGINT},
            #{priceDay, jdbcType=FLOAT},
            #{extentDay, jdbcType=VARCHAR},
            #{day, jdbcType=DATE},
            #{calculateDate, jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List"
            useGeneratedKeys="true" keyProperty="turnoverDayId">
        insert into info_turnover_day (stock_code, turnover_day, price_day, extent_day, day, calculate_date)
        values
        <foreach collection="tds" item="td" index="index" separator=",">
            (
            #{td.stockCode, jdbcType=VARCHAR},
            #{td.turnoverDay, jdbcType=BIGINT},
            #{td.priceDay, jdbcType=FLOAT},
            #{td.extentDay, jdbcType=VARCHAR},
            #{day, jdbcType=DATE},
            #{td.calculateDate, jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <select id="selectByDate" resultMap="BaseResultMap">
        SELECT * FROM info_turnover_day
        WHERE 1=1
        <if test="stockCode != null and stockCode != ''">
            and stock_code = #{stockCode}
        </if>
        <if test="startTime != null">
            <![CDATA[and day >= #{startTime}]]>
        </if>
    </select>

    <update id="update">
        UPDATE info_turnover_day SET price_day = #{priceDay}
        WHERE stock_code = #{stockCode} and day = #{day}
    </update>
</mapper>